// Place all the styles related to the Catalog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
h2, h3, h4, h5, h6 { 
	color: #602a59; 
	font-weight: normal;
	margin-left: -0.5%;	
}

h2 { font-size: 28px; margin-bottom: 0px; }
h3 { font-size: 20px; }
h4 { 
	font-size: 16px; 
	margin-top: 8%;
	margin-bottom: 0px; 
	font-weight: bold;
}
*/
$sat_orange :#F68747 ;
$DarkGraySideBackground :#444444;



@media all and (max-height: 580px)  and (max-width:950px) {
	body {
		//margin: 3% 14% 0% 14%;
		margin-top: 3%;
	}

}

@media all and (max-height: 580px) and (min-width:951px) {
	body {
		margin: 3% 16% 0% 16%;
	}
}

@media all and (min-height: 581px) and (max-height:680px) and (max-width:1030px){
	body {
		margin: 4% 8% 0% 8%;
	}
}

@media all and (min-height: 581px) and (max-height:680px) and (min-width:1031px) and  (max-width:1100px){
	body {
		margin: 4% 13% 0% 13%;
	}
}

@media all and (max-height:680px) and (min-width:1101px) {
	body {
		margin: 4% 20% 0% 20%;
	}
}

@media all and (min-height:681px) and (max-width:1150px){
	body {
		margin: 10% 12% 0% 12%;
	}
}

@media all and (min-height:681px) and (min-width:1151px){
	body {
		margin: 11.5% 19% 0% 19%;
	}
}
/*
@media screen and (min-height: 601px) and (max-width: 1100px){
	body {
		margin: 7% 12% 0% 12%;

	}
}

@media screen and (min-height: 601px) and (min-width: 1101px){
	body {
		margin: 4% 18% 0% 18%;

	}
}
*/

body {
	background-color: $DarkGraySideBackground ; /* $DarkGraySideBackground ;	*/
	//margin: 8% 7% 4% 7%;
}


//satext orig was h2
.sat_toc { 
	color: $sat_orange; 
	font-weight: normal;
	//margin-left: -0.5%;	
	font-size: 30px; 
	margin-bottom: 20px;
	font-family: "century gothic";
	letter-spacing: 22px; 
	text-align: center;
}

.coll_toc { 
	color: $sat_orange; 
	font-weight: normal;
	font-size: 15px; 
	margin-bottom: 45px;
	font-family: antiqua; 
	text-align: center;
	letter-spacing: 8px; 
    padding-right: 5%;
    font-weight: bold;
}

.toc_toc {
	 font-family:arial;
	 color: $DarkGraySideBackground ;
	 text-align: center;
	 padding-right: 5%;

}



/*
#outmost-box {
    display: inline-block;
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#dummy {
    padding-top: 71.9%; /* 4:3 aspect ratio */
/*}

#dummy-sib {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*background-color: silver /* show me! */
/*}    */
